 * {
     box-sizing: border-box;
 }

 html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #e0fbfc;
   
}

.my-header {
    text-align: center;
    height: 180px;
    background-color: #3d5a80;
    border-bottom: #98c1d9 2px solid;
}

#logo{
    margin-top: 15px;
    width: 256px;
    height: 144px;
}

 h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
 }

 .section-three{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
 .doggo-wp{
    left:50%;
    right: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 260px;
    height: 572px;
    margin-top: 15px;
    background-color: white;

 }
 .doggo-wp-invisible{
    opacity: 0%;
    position: fixed;
    left:0;
    top:0;
    width: 414px;
    height: 736px;

 }
 .mockup{
    left:50%;
    right: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 1;
    width: 284px;
    height: 601px;
 }

 .oneByOneBTN {
    height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #e0fbfc;
    font-weight: 500;
    border: 0;
    background-color: #3d5a80;
    border-radius: 12px;
 }

 .generateImageBTN {
    height: 30px;
    font-family: 'Roboto', sans-serif;
    color: #e0fbfc;
    font-weight: 500;
    border: 0;
    background-color: #3d5a80;
    border-radius: 12px;
 }

 .button-div {
     z-index: 1;
     margin-top: 640px;
     display: flex;
     align-content: space-around;
 }

.generateImageDiv {
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

 .row1, .row2, .row3, .row4, .row5 {
    height: 20%;
    width: 100%;
 }
 .row12, .row22, .row32, .row42, .row52 {
    height: 20%;
    width: 100%;
 }

 @media (max-width: 543px){
     :root{
         --body-width: 100%;
     }
    body{
        width: var(--body-width);
    }
    .doggo-wp{
        left:50%;
        right: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        
   
     }
     .mockup{
        left:50%;
        right: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        z-index: 1;

     }
 }